<!DOCTYPE HTML>
<html>
    <head>
        <title>#{title}</title>

        | <!--- JS countries----->
        <script src="../static/js/countries.js"></script>

        | <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        | <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        | <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        | <!--- include external Javascript --->
        <script src="../static/js/map.js"></script>

        | <!--- Include external css ---->
        <link rel="stylesheet" href="../static/css/map.css">

        | <!--- Include leaflet CSS ---->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

        | <!---- Leaflet JS---->
        | <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

        | <!---- include jquery-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>

        <style>
            | ul {
            |    list-style-type: none;
            |    margin: 0;
            |    padding: 0;
            |    overflow: hidden;
            |    background-color: #333;
            | }

            | li {
            |    float: left;
            | }

            | li a {
            |    display: block;
            |    color: white;
            |    text-align: center;
            |    padding: 14px 16px;
            |    text-decoration: none;
            | }

            | li a:hover:not(.active) {
            |    background-color: #111;
            | }

            | .active {
            |    background-color: #04AA6D;
            | }
        </style>
    </head>
    
    <body>
        <header>
            <nav>
            
                <ul>
                    <li><a class="active" href="/home">Home</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/register">Trader Register</a></li>
                    <li><a href="/register_user">Customer Register</a></li>
                    <li><a href="/login">Trader Login</a></li>
                    <li><a href="/user_login">Customer Login</a></li>
                </ul>
            </nav>
        </header>

        <form method="POST" action="/display_locations">
            | <!--- <input type="text" name="country" id="country" placeholder="Enter Country" required> --->
            | <!----- <input type="text" name="state" id="state" placeholder="Enter state" required> ---->
            <select name="country" id="country" required></select>
            <select name="state" id="state" required></select>
            <script language="javascript">
                | populateCountries("country", "state");
            </script>
            <input type="text" name="city" id="city" placeholder="Enter city" required>
            | <!--- <input type="text" name="pincode" id="pincode" placeholder="Enter city's pincode" required> --->
            <input type="text" name="category" id="category" placeholder="Enter the category" required>
            <input type="text" name="search" id="search" placeholder="Search anything" required>
            <input type="submit" name="submit" id="submit"/>
        </form>

        <br><br>

        |<div class="container">
        |    <div id="mapid"></div>
        |    <script>
        |        var curr_lat, curr_lon;
        |        if(navigator.geolocation){
        |           navigator.geolocation.getCurrentPosition(position=>{
        |               curr_lat = position.coords.latitude;
        |               curr_lon = position.coords.longitude;
        |               console.log(curr_lat);
        |               console.log(curr_lon);
        |           })
        |        }
        |        else{
        |           alert("Please enable your location");
        |        }
        |
        |        console.log(curr_lat);
        |        console.log(curr_lon);
        |
        |        var mymap = L.map('mapid').setView([51.505,-0.09],13);
        |        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWRpdHlhYmFuc2FsIiwiYSI6ImNra2prNHlqajB2c3Uydms3bmlwbWVwYzUifQ.uM_5J0pJIVVzQW7ObwMGMw',{
        |            attribution:'Map data &copy;<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        |            maxZoom:18,
        |            id:'mapbox/streets-v11',
        |            tileSize:512,
        |            zoomOffset:-1,
        |            accessToken:'your.mapbox.access.token'
        |        }).addTo(mymap);

        |        var Icon = L.icon({
        |            iconUrl: "http://127.0.0.1:3000/static/images/marker.jpg",
        |            iconSize:     [38, 95], // size of the icon
        |            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
        |            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        |        });
        |        // console.log(Icon.iconUrl);
        |        // L.marker([51.5,-0.09,{icon:Icon}]).addTo(mymap).bindPopup("This is the location");
        |    </script>
        |</div>

        <footer>
            <p align="center">#{title}</p>
        </footer>
    </body>
</html>